@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:wght@400;700&display=swap');

@font-face {
    font-family: 'Noto Serif';
    font-style: normal;
    font-weight: 400;
    src: url('./assets/fonts/Windlass.ttf');
}

body{
  overflow-x: hidden;
}

:root {
  font-family: "Noto Serif", serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background: #171921;
  


  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

p {
  margin: 0;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.card {
  padding: 2em;
}

#app {
  margin: 0 auto;
  text-align: center;
  width: 100vw;
}

h1, h2, h3 {
  font-family: 'Windlass', serif;
  margin: 0;
}


h2 {
  font-size: 100px;
  line-height: 120px;
}

body[data-theme="light"] {
  color: #171921;

  .cls-1 {
    fill: #171921 !important;
  }

  .cls-2 {
    stroke:#171921 !important;
  }
}
